<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <mat-card fxFlex="60%">
    <mat-card-header>
      <h3>change log</h3>
      <span class="spacer"></span>
    </mat-card-header>
    <mat-card-content>
      <lib-bb-itag-angular-change-log
        [changeLogInfos]="changeLogInfos"
        classNameTitle="changeLogBar"
      ></lib-bb-itag-angular-change-log>
    </mat-card-content>
  </mat-card>
</div>
