.row, .col { overflow: hidden; position: absolute; }
.row { left: 0; right: 0; }
.col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

.header.row { height: 75px; top: 0; }
.body.row { top: 75px; bottom: 10px; margin: 0px 25px 0px 25px; }
.footer.row { height: 25px; bottom: 0; }
